<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a href="/" class="navbar-brand">CertiCheck</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/login" class="nav-link">Upload</a>
        </li>
        <li class="nav-item">
          <a href="/verify" class="nav-link">Verify</a>
        </li>
      </ul>
    </div>
  </div>
</nav>