<nav class="navbar navbar-expand-md navbar-light fixed-top bg-white" style="border-bottom: #1ac9e4 4px solid;">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="../../static/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          CertiChain
        </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/login" class="nav-link">Upload</a>
        </li>
        <li class="nav-item">
          <a href="/verify" class="nav-link">Verify</a>
        </li>
      </ul>
    </div>
  </div>
</nav>