{% extends 'layout.html' %}
{% block body %}
<h1 class="text-center pt-5">Select files to upload</h1>
<form method="post" action="/verify" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="row">
            <div class="col bucket m-3">
                <p class="pabs">Upload Resume PDF</p>
                <input type="file" name="pdf" autocomplete="off" required>
            </div>
            <div class="col bucket m-3">
                <p class="pabs">Upload JSON Certificate</p>
                <input type="file" name="json" autocomplete="off" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <button type="submit" class="btn btn-secondary btn-lg btn-block mt-5">Verify</button>
        </div>
        <div class="col-2"></div>
    </div>
</form>
{% endblock %}