body {
  /* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://www.ibm.com/blogs/blockchain/wp-content/uploads/2019/01/Retina_Display-816838496.jpg"); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/back.jpg");
  background-attachment: fixed;
}

* {
  color: white;
}

.bucket {
  width: 500px;
  height: 200px;
  border: 4px dashed #fff;
}

.pabs {
  position: absolute;
}

.uploadBucket {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
}

form p {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #ffffff;
  font-family: Arial;
}
form input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
